$app__content__background-color: #555;

body {
  background: rgba(199, 199, 199, 0.1);
  font-family: 'Josefin Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size: 1.8em;
}

.main-container {
  margin: 75px auto 0 auto;
  width: 90%;
}

.back-btn {
  margin-bottom: 15px;
}

@media only screen and (max-width: 700px) {
  .main-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
