$nav-background: rgba(25, 38, 63, 1);
$nav-title-size: 2em;

.first {
  color: #CF5F39;
}

.nav-title {
  font-size: $nav-title-size;
  cursor: default;
  list-style: none;
  margin-top: 5px;
}

.last {
  color: black;
}

.link {
  margin-right: 30px;
  font-size: 1.2em;
  margin-top: 5px;
}

.navbar-default {
  margin: 0;
  padding: 0;
  box-shadow: 1px 2px 10px black;
  overflow-x: hidden;
  overflow-y: hidden;
}

.social-group {
  margin: 0 -5px;
  font-size: 1.2em;
}


@media (max-width: 815px) {
  .link {
    margin-right: 20px;
  }
}
