.portfolio-container {
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image {
  width: 350px;
  height: auto;
  z-index: 9999;
  opacity: 1;
  border: 1.5px solid black;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px black;
  transition: 0.3s ease-in-out 0s;
}

.portfolio-image:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out 0s;
  box-shadow: 3px 3px 3px black;
}

.description-section {
  overflow-y: auto;
  margin: 10px 15px 15px 10px;

  .image-wrapper {
    width: 100%!important;
  }
}

.portfolio-section {
  overflow-y: auto;
  width: 31%;
  height: 600px!important;
  border: 1px solid black;
  -webkit-box-shadow: 6px 6px 21px 1px rgba(0,0,0,0.71);
  -moz-box-shadow: 6px 6px 21px 1px rgba(0,0,0,0.71);
  box-shadow: 6px 6px 21px 1px rgba(0,0,0,0.71);
  background: #F8F8F8;
  margin: 10px 10px 10px 10px;

  .image-wrapper {
    width: 100%!important;
  }
}

.header-section {
  background: #CF5F39;
  height: auto;
  width: 100%;
}

.work-title {
  font-size: 1.3em!important;
  font-weight: bold;
  font-size: 100%;
  width: 100%;
}

// @media (max-width: 1670px) {
//   .portfolio-section {
//     width: 300px;
//     margin: 15px 15px 15px 15px;
//   }
// }

@media (max-width: 1250px) {
  .portfolio-section {
    width: 45%;
  }
  .portfolio-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 900px) {
  .portfolio-section {
    width: 100%;
    height: auto!important;
    margin: 10px 0 auto;
  }
  .portfolio-image {
    width: 100%;
    height: auto;
  }
}
