$circle-font-size: 2.5em;
$circle-mobile-font-size: 1.7em;
$circle-color: rgba(203, 80, 38, 1);
$circle-color-end: rgba(203, 80, 38, 0.7);

.title {
  padding-top: 60px;
  font-size: 5em;
  color: black;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $circle-font-size;
  margin: 0 auto;
  border: 1px solid black;
  height: 225px;
  width: 225px;
  border-radius: 50%;
  color: black;
  box-shadow: 2px 2px 4px black;
  transition: all 0.1s ease-in-out 0s;
}

.mobile-site-header {
  margin-top: 130px;
  margin-bottom: 75px;
}

.stack-header {
  margin-top: 20px;
  margin-bottom: -100px;
}

#react-border {
  background-color: $circle-color-end;
  background-image:
      linear-gradient(-270deg, transparent 50%, $circle-color 50%),
      linear-gradient(-25deg, $circle-color 50%, transparent 50%);
}

#html-border {
  background-color: $circle-color-end;
  background-image:
      linear-gradient(-270deg, transparent 50%, $circle-color 50%),
      linear-gradient(15deg, $circle-color 50%, transparent 50%);
}

#css-border {
  background-color: $circle-color-end;
  background-image:
      linear-gradient(-270deg, transparent 50%, $circle-color 50%),
      linear-gradient(15deg, $circle-color 50%, transparent 50%);
}

#firebase-border {
  background-color: $circle-color-end;
  background-image:
      linear-gradient(-270deg, transparent 50%, $circle-color 50%),
      linear-gradient(-15deg, $circle-color 50%, transparent 50%);
}

#javascript-border {
  background-color: $circle-color-end;
  background-image:
      linear-gradient(-270deg, transparent 50%, $circle-color 50%),
      linear-gradient(-20deg, $circle-color 50%, transparent 50%);
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 265px);
  min-height: 440px;
  padding: 0;
  width: 100%;
}

@media (min-width: 1440px) {
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle-container {
    height: calc(100vh - 265px);
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 4em;
    padding-top: 30px;
  }
  .stack-header {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .mobile-site-header {
    margin-top: 95px;
    margin-bottom: 40px;

  }
  .circle-container {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    height: 150px;
    width: 150px;
    font-size: $circle-mobile-font-size;
  }
}
